@tailwind base;
@tailwind components;
@tailwind utilities;

.matrix {
  --primary: #006500;
  --secondary: #000000;
  --caret: #15ff00;
  --error: #ec4c56;
  --helper: #15ff00;
  --text: rgba(21, 255, 0, 0.25);
  --bg: rgba(0, 101, 0, 0.25);
}

.bushido {
  --primary: #ec4c56;
  --secondary: #242933;
  --helper: #f6f0e9;
  --text: #596172;
  --bg: #1c222d;
  --error: #ec4c56;
  --caret: #ec4c56;
}

.lil-dragon {
  --primary: #8a5bd6;
  --secondary: #ebe1ef;
  --helper: #212b43;
  --text: #a293c6;
  --bg: #dac7e2;
  --error: #f794ca;
  --caret: #212b43;
}
